header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

body{
	padding: 0px;
	margin: 0px;
	font-family: 'Raleway';
    font-size: 14px;
    background: rgb(22, 22, 22);
    background-image: url(../img/fondetoile.png);
}

footer{
    background-color: black;
    text-align: center;
    padding: 35px;
    font-family :'Raleway';
    color: white;
    font-size: 15px;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 15pt;
    margin: 30px;
}

footer a:hover{
    color: #FFB800;
    transition-duration: 0.5s;
}

hr{
    border: 1px solid white;
    width: 500px;
    margin-top: 15px;
}

.flex{
	display : flex;
}

.menu {
    padding-top: 20px;
    color: #ffffff;
    font-size: 20px;
}
  
.menu a {
    float: right;
    color: #ffffff;
    padding: 10px 12px;
    text-decoration: none;
}
  
.menu a:hover {
    color: #FFB800;
    transition-duration: 0.4s;
}  

.espace{
    justify-content: space-between;
}

.logo{
margin: 20px;
}

.logo1{ 
    width: 80px;
    height: 70px;
}

.neon:hover{
	color:white;
	text-shadow: 
	0 0 10px white,
	 0 0 30px rgb(255, 233, 153), 
	 0 0 40px rgb(253, 0, 0),
	 0 0 70px rgb(225, 0, 255), 
	 0 0 80px rgb(225, 0, 255), 
	 0 0 100px #183152, 
	 0 0 150px #183152;
}


/*****************************/
/*********FORMULAIRE**********/
/*****************************/


form {
    margin: 0 auto;
    width: 600px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: rgba(36, 18, 78, 0.5);
    margin: 200px auto 300px auto;
}
  
form div + div {
    margin-top: 1em;
}
  
input, textarea {
    padding: 10px;
    font-size: 13pt;
    width: 550px;
    box-sizing: border-box;
    border: 2px solid #999;
    border-radius: 5px;
    margin: 20px;
}
  
textarea {
    vertical-align: top;
    height: 10em;
    font-family: 'Raleway';
    font-weight: 600;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 13pt;
    border-radius: 5px;
    border: none;
    width: 100px;
}

button:hover{
    background-color: rgb(141, 141, 141);
    color: white;
    transition-duration: 0.4s;
}