img.superbg {
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width: 100vw;
    height: 100vh;
}


.blink {
    color:black;
    animation: colorblink 3s infinite;
    font-size: 120px;
}

@keyframes colorblink {
  0% { }
  70% { color:white;
        text-shadow :
        0 0 10px white;
        text-shadow :
        0 0 30px rgb(255, 233, 153);
        text-shadow :
        0 0 40px rgb(253, 0, 0),
        0 0 70px rgb(225, 0, 255),
        0 0 80px rgb(225, 0, 255),
        0 0 100px #183152,
        0 0 150px #183152; }
}

/**********************************************************/
/************************COULEURS**************************/
/**********************************************************/
.couleurlight{
    background: #FAFF00;
}

.couleurmedium1{
    background: #FFB800;
}

.couleurmedium2{
    background: rgb(255, 123, 0);
}

.couleurdark{
    background: rgb(255, 60, 0);
}

.neon:hover{
	color:white;
	text-shadow:
	0 0 10px white,
	 0 0 30px rgb(255, 233, 153),
	 0 0 40px rgb(253, 0, 0),
	 0 0 70px rgb(225, 0, 255),
	 0 0 80px rgb(225, 0, 255),
	 0 0 100px #183152,
	 0 0 150px #183152;
}

.neonbox:hover{
	box-shadow:
	0 0 10px white,
	 0 0 30px rgb(255, 233, 153),
	 0 0 40px rgb(253, 0, 0),
	 0 0 70px rgb(225, 0, 255),
	 0 0 80px rgb(225, 0, 255),
	 0 0 100px #183152,
	 0 0 150px #183152;
	transition-duration: 1s;
}

/*************************EFFETS***************************/

.shadow{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
	0px 4px 4px rgba(0, 0, 0, 0.25);
}

/**********************************************************/
/*********************FIN COULEURS*************************/
/**********************************************************/


/**********************************************************/
/************************MENU******************************/
/**********************************************************/

/* LOGOS */

.logo{
    margin: 20px;
}

.logo1{
    width: 80px;
    height: 70px;
}

/* MENU */

/**********************************************************/
/***********************FIN MENU***************************/
/**********************************************************/

.flexmenu{
	display: flex;
}

.menu {
    padding-top: 20px;
    color: #ffffff;
    font-size: 20px;
    font-family: Raleway;
}

.menu a {
    float: right;
    color: #ffffff;
    padding: 10px 12px;
    text-decoration: none;
}

.menu a:hover {
    color: #FFB800;
    transition-duration: 0.4s;
}

.espace{
    justify-content: space-between;
}

/**********************************************************/
/***********************PARTIE 1***************************/
/**********************************************************/

.animatic{
    text-align: center;
    font-family: Raleway;
    font-weight: bold;
    font-size: 110px;
    padding-top: 30vh;
    color:white;
	text-shadow:
	0 0 10px white,
	 0 0 30px rgb(255, 233, 153),
	 0 0 40px rgb(253, 0, 0),
	 0 0 70px rgb(225, 0, 255),
	 0 0 80px rgb(225, 0, 255),
	 0 0 100px #183152,
	 0 0 150px #183152;
}

.ligne{
    width: 650px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    background-color: white;
}

/* FLEX POUR ELLIPSES */

.flex{
    display: flex;
    margin:20px;
    justify-content: center;
}

/* ELLPSES */

.ellipse1{
    width: 80px;
    height: 80px;
	margin-left: auto;
	margin-top: 9px;
    border-radius:100px;
}

.ellipse2{
    width: 116px;
    height: 116px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius:100px;
    margin-bottom: 270px;
}

.ellipse3{
    width: 90px;
    height: 90px;
	margin-right: auto;
	margin-top: 9px;
    border-radius:100px;
}

/* HOVER ELLIPSES */

.ellipse1:hover{
    transform: scale(1.10);
    transition-duration: 1s;
}

.ellipse2:hover{
    transform: scale(1.10);
    transition-duration: 1s;
}

.ellipse3:hover{
    transform: scale(1.10);
    transition-duration: 1s;
}

.pen{
	width: 75px;
	height: 75px;
	margin-top: 20px;
	margin-left: 22px;
}

.pen:hover{
	transform: scale(1.1);
	transition-duration: 1s;
}

.cursor{
	width: 45px;
	height: 45px;
	margin-top: 19px;
	margin-left: 20px;
}

.cursor:hover{
	transform: scale(1.3);
	transition-duration: 1s;
}

.camera{
	width: 60px;
	height: 50px;
	margin-top:15px;
	margin-left: 16px;
}

.camera:hover{
	transform: scale(1.2);
	transition-duration: 1s;
}

/**********************************************************/
/***********************FIN PARTIE 1***********************/
/**********************************************************/


/**********************************************************/
/**********************PARTIE 2****************************/
/**********************************************************/


/* FLEX BOITES */
 .flexBoitesDroite{
    display: flex;
    margin: 0px;
}

.flexBoitesGauche{
    display: flex;
    margin: 0px;
    float: right;
}

/* BACK */

.team{
    background-image: url(../img/team.jpg);

    height: 500px;
    margin-top: 40px;
}

.blogpic{
    background-image: url(../img/blog.jpg);

    height: 500px;
    margin-top: 40px;
}

.pic{
    background-image: url(../img/pic.jpg);

    height: 500px;
    margin-top: 40px;
}


/*****************************AGENCE************************/
/* ABSOLUT */
.ellipseAgence{
    margin-top: 150px;
    margin-left: 30px;
    width: 200px;
    height: 200px;
    border-radius: 500px;
}

.ellipseAgence:hover{
    transform: scale(1.10);
    transition-duration: 1s;
}

.home{
    width: 125px;
    height: 120px;
    margin-top: 30px;
    margin-left: 39px;
}

.home:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}

.cadreAgence{
    margin-top: 211px;
    margin-left: 20px;
    width: 325px;
    height: 78px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

.agence{
    padding-top: 12px;
    color: #ffffff;
    font-size: 40px;
    font-family: "Raleway";
    text-align: center;
}

.agence a{
    color: #ffffff;
    padding: 10px 12px;
    text-decoration: none;
}

.agence a:hover{
    color: #FFB800;
    transition-duration: 1s;
}


/****************************EQIUPE************************/

.ellipseEquipe{
    margin-top: 150px;
    margin-right: 30px;
    width: 200px;
    height: 200px;
    border-radius: 500px;
}

.ellipseEquipe:hover{
    transform: scale(1.10);
    transition-duration: 1s;
}

.man{
    width: 100px;
    height: 150px;
    margin-top: 20px;
    margin-left: 47px;
}

.man:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}

.cadreEquipe{
    margin-top: 211px;
    margin-right: 20px;
    width: 325px;
    height: 78px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

.equipe{
    padding-top: 12px;
    color: #ffffff;
    font-size: 40px;
    font-family: Raleway;
    text-align: center;
}

.equipe a{
    color: #ffffff;
    padding: 10px 12px;
    text-decoration: none;
}

.equipe a:hover{
    color: #FFB800;
    transition-duration: 1s;
}

/***********************BLOG*******************************/

.ellipseBlog{
    margin-top: 150px;
    margin-left: 30px;
    width: 200px;
    height: 200px;
    border-radius: 500px;
}

.ellipseBlog:hover{
    transform: scale(1.10);
    transition-duration: 1s;
}

.ecrit{
    width: 118px;
    margin-top: 40px;
    margin-left: 40px;
}

.ecrit:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}

.cadreBlog{
    margin-top: 211px;
    margin-left: 20px;
    width: 325px;
    height: 78px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

.blog{
    padding-top: 12px;
    color: #ffffff;
    font-size: 40px;
    font-family: Raleway;
    text-align: center;
}

.blog a{
    color: #ffffff;
    padding: 10px 12px;
    text-decoration: none;
}

.blog a:hover{
    color: #FFB800;
    transition-duration: 1s;
}

/**********************GALERIE*****************************/

.ellipseGalerie{
    margin-top: 150px;
    margin-right: 30px;
    width: 200px;
    height: 200px;
    border-radius: 500px;
}

.ellipseGalerie:hover{
    transform: scale(1.10);
    transition-duration: 1s;
}

.photo{
    width: 118px;
    margin-top: 48px;
    margin-left: 42px;
}

.photo:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}

.cadreGalerie{
    margin-top: 211px;
    margin-right: 20px;
    width: 325px;
    height: 78px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

.galerie{
    padding-top: 12px;
    color: #ffffff;
    font-size: 40px;
    font-family: Raleway;
    text-align: center;
}

.galerie a{
    color: #ffffff;
    padding: 10px 12px;
    text-decoration: none;
}

.galerie a:hover{
    color: #FFB800;
    transition-duration: 1s;
}

/**********************************************************/
/**********************FIN PARTIE 2************************/
/**********************************************************/

@media only screen and (max-width: 1020px) {

  .flexBoitesDroite{
     display: block;
 }

 .flexBoitesGauche{
     display: block;
 }

 .flexBoitesDroite>div{
    display: inline-block;
}

.flexBoitesGauche>div{
   display: inline-block;
}

 .team{
   display: flex;
   margin:20px;
   justify-content: center;
 }

 .blogpic{
   display: flex;
   margin:20px;
   justify-content: center;
 }

 .pic{
   display: flex;
   margin:20px;
   justify-content: center;
 }
}

@media only screen and (max-width: 640px) {
  .ellipseEquipe{
      margin-top: 0;
      margin-right: 0;
  }

  .cadreEquipe{
      margin-top: 0;
      margin-right: 0;
  }
  .ellipseGalerie{
      margin-top: 0;
      margin-right: 0;
  }

  .cadreGalerie{
      margin-top: 0;
      margin-right: 0;
  }

  .ellipseBlog{
      margin-top: 0;
      margin-left: 0;
  }

  .cadreBlog{
      margin-top: 0;
      margin-left: 0;
  }

  .flexBoitesDroite>div{
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
 }

 .flexBoitesGauche>div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
 }

 .animatic {
   font-size: 62px;
 }

 .ligne {
   display: none;
 }
}
