html{
    scroll-behavior: smooth;
}
body{
    background: #000d1f;
    margin: 0px;
}
* {
    outline: 0;
}


.bg{
    position: fixed;
    z-index: -1;
    top:0px;
    width: 100%;
}
.intro>img:nth-child(2){
    display: none;
}

@media screen and (min-width: 500px){
    .intro>img:nth-child(2){
        display: initial;
    }
}

/* MENU */
.menu{
    background: white;
    padding: 20px;
    text-align: center;
}
.menu>p{
    font-size: 10px;
    margin: 0px 0px 10px 0px;
    letter-spacing: 5px;
    font-family: "Raleway";
}
h1{
    font-family: "Raleway";
    margin: 0px;
    font-weight: 200;
}
h2{
    font-family: "Raleway";
    margin: 0px;
    font-weight: 200;
}
.menu>a{
    margin: 0px;
    color: #000d1f;
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 500;
    padding: 0px;
    margin: 10px;
}
a:hover{
    color: #FFB800;
    transition: 0.2s;
}
a{
    margin: 0px;
    color: white;
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 500;
    padding: 0px;
    margin: 10px;
}

/* MAIN */
.bg{
    height: 100%;
}

/* intro */
.animatic{
    animation: color 2s infinite alternate;
}
@keyframes color{
    0%{
        color: white;
    }
    100%{
        color: #FFB800;
    }
}

@keyframes blur{
    3%{
        opacity: 0;
        letter-spacing: 5px;
    }
    20%{
        opacity: 1;
        letter-spacing: 0px;
    }
}
.intro{
    font-family: "Raleway";
    color: white;
    height: 400px;
}

.txt{
    text-align: center;
    padding: 10px;
    margin: 15vh 0% 0px 0%;
}
.txt>p{
    margin: 3px;
    animation: blur 10s infinite;
}
button{
    background: white;
    color: #000d1f;
    padding: 10px;
    border: none;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
}
button:hover{
    background: rgb(255, 145, 0);
    color: white;
    transform: scale(1.05);
    transition: 0.4s;
}

/* equipe */
.equipe{
    background: white;
    padding: 10px;
    color: #000d1f;
    font-family: "Raleway";
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "a"" b ""c ""d"" e";
}
.a{
    grid-area: a;
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;
}
.d{
    grid-area: d;
}
.e{
    grid-area: e;}

.pers{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "img nom";
    align-items: center;
    background: #0e0e0e;
    margin: 2px;
}
.pers2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "img nom";
    align-items: center;
    background: #0e0e0e;
    margin: 2px;
}
.img{
    grid-area: img;
}
.nom{
    grid-area: nom;
    color: white;
    padding-bottom: 20px;
}
.nom>a{
    color: rgb(255, 145, 0);
}
.nom>a:hover{
    color: rgb(255, 196, 0);
}
/* agence */
.agence{
    background: #0e0e0e;
    color: white;
    font-family: "Raleway";
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin-bottom: 20px;
}
.agence>div:nth-child(2){
    padding: 20px;

}
.flex{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

/* REA */
.rea{
    background: #0e0e0e;
    color: white;
    font-family: "Raleway";
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    padding: 20px;
}

/* FOOTER */

footer{
    background-color: black;
    text-align: center;
    padding: 35px;
    font-family :'Raleway';
    color: white;
    font-size: 10px;
    margin-top: 50px;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 10pt;
    margin: 30px;
    font-weight: 500;
}

footer a:hover{
    color: #FFB800;
    transition-duration: 0.5s;
}

hr{
    border: 1px solid white;
    width: 50%;
    margin-top: 15px;
}